/* Exercise 1 */

.hero-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    height: 100dvh;
}

.hero-group .hero {
    width: 50%;
    height: 100%;
}

.hero-group .hero-image {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-group .hero-copy {
    max-width: 70%;
    padding-left: 16px;
    padding-right: 16px;
}

.hero-group .hero-copy h2,
.hero-group .hero-copy h3 {
    text-wrap: balance;
}

.hero-unit-space-exploration .hero-image {
    background-image: url("/images/final-frontier_large.jpg");
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .hero-unit-space-exploration .hero-image {
        background-image: url("/images/final-frontier_large_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .hero-unit-space-exploration .hero-image {
        background-image: url("/images/final-frontier_medium.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .hero-unit-space-exploration .hero-image {
        background-image: url("/images/final-frontier_medium_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .hero-unit-space-exploration .hero-image {
        background-image: url("/images/final-frontier_small.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .hero-unit-space-exploration .hero-image {
        background-image: url("/images/final-frontier_small_2x.jpg");
    }
}

.hero-unit-moon-exploration .hero-image {
    background-image: url("/images/luna_large.jpg");
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .hero-unit-moon-exploration .hero-image {
        background-image: url("/images/luna_large_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
    .hero-unit-moon-exploration .hero-image {
        background-image: url("/images/luna_medium.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .hero-unit-moon-exploration .hero-image {
        background-image: url("/images/luna_medium_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .hero-unit-moon-exploration .hero-image {
        background-image: url("/images/luna_small.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .hero-unit-moon-exploration .hero-image {
        background-image: url("/images/luna_small_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
    .hero-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    .hero-group .hero {
        width: 100%;
        height: 50vh;
        height: 50dvh;
    }

    .hero-group .hero-copy {
        max-width: 85%;
    }
}